<main>
    <h3>Login</h3>
    <form action="/users/login" method="post">
        <aside>
            <label for="email">Email</label>
            <input 
                type="email" 
                name="email" class="form-control" 
            required>
        </aside>
        <aside>
            <label for="password">Password</label>
            <input 
                type="password" 
                name="password" class="form-control" 
            required>
        </aside>
        <button type="submit">Submit</button>
    </form>
</main>



